<section class="background_full_screen">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer">
          <div class="footer-links">
            <a href="https://www.facebook.com/gobemonsax"><i class="fa fa-facebook"></i></a>
            <a href="https://soundcloud.com/gobemonsax"><i class="fa fa-soundcloud"></i></a>
            <a href="https://twitter.com/GobeMonSax"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/adrienmoison/gobemonsax"><i class="fa fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
