<h1>Pages#home</h1>
<p>Find me in app/views/home.html.erb</p>
<p>Now is <%= Time.now %></p>
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/402355605&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

<form action="/musics" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="track" placeholder="trackname">
  <input type="text" name="author" placeholder="author">
  <input type="submit">
</form>
