<div class="container">

<form action="/musics" method="get">
  <input type="text" name="style" placeholder="What kind of category?">
  <input type="submit">
</form>

  <ul>
    <% @musics.each do |id, music| %>
      <li><%= music[:track] %> (<%= music[:author] %>)</li>
    <% end %>
  </ul>
</div>
