<form action="/musics" method="get">
  <input type="text" name="style" placeholder="What kind of category?">
  <input type="submit">
</form>

<ul>
  <% @musics.each do |id, music| %>
    <li><%= link_to music[:track], music_path(id) %></li>
  <% end %>
</ul>
